version: '3.8'

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"

  backend:
    image: YOUR_DOCKERHUB_USERNAME/dd-backend:latest
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    image: YOUR_DOCKERHUB_USERNAME/dd-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"