name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t YOUR_DOCKERHUB_USERNAME/dd-backend ./backend

      - name: Build Frontend Image
        run: docker build -t YOUR_DOCKERHUB_USERNAME/dd-frontend ./frontend

      - name: Push Images
        run: |
          docker push YOUR_DOCKERHUB_USERNAME/dd-backend
          docker push YOUR_DOCKERHUB_USERNAME/dd-frontend