name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker build -t shekhar2298/dd-backend:latest ./backend

      - run: docker build -t shekhar2298/dd-frontend:latest ./frontend

      - run: docker push shekhar2298/dd-backend:latest

      - run: docker push shekhar2298/dd-frontend:latest

      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/dd-mean-devops
            docker compose pull
            docker compose up -d --force-recreate --remove-orphans